.task-columns {
  display: flex;
  justify-content: space-between;
}
.task-column {
  width: 18%;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.task-card {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.task-card-content h4 {
  margin: 0;
  font-size: 16px;
  color: #333;
}
.task-card-content p {
  font-size: 14px;
  color: #666;
}
button {
  margin-top: 10px;
}
.app-container {
  padding: 20px;
}
.navbar {
  position: sticky;
  top: 0;
  background-color: gray;
  padding: 2px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: end;
  padding: 0px 20px;
}
.navbar li {
  margin: 0;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-right: 40px;
}
.navbar a:hover {
color: black;
padding: 25px;
}